myfile.py
/Longest common substring/TestLongestSubstring/bin/
/Longest common substring/TestLongestSubstring/obj/
/Longest common substring/TestLongestSubstring/.vs/
*.sln
/Nth_fibonacci_number/TestNthFibonacci/bin/
/Nth_fibonacci_number/TestNthFibonacci/obj/
/Nth_fibonacci_number/TestNthFibonacci/.vs/
/ParkingLotDesign/.vs/
/ParkingLotDesign/bin/
/ParkingLotDesign/obj/
/LibraryManagementSystem/.vs/
/LibraryManagementSystem/bin/
/LibraryManagementSystem/obj/
/LibraryManagementSystem/LibraryTests/obj/